extends ../../../src/views/base.pug

block prepend title
	- title = "Email Queue"
	- menu = 'email-queue'

block contents
	.table-responsive
			table.table.table-striped.table-condensed
				thead
					tr
						th State
						th Count
				tbody
					for state in status
						tr
							td=state.name
							td=state.count

	if queue.length > 0
		h2 Message Queue
		.table-responsive
			table.table.table-striped.table-condensed
				thead
					tr
						th Message
				tbody
					for mail in queue
						tr
							td=mail
	else
		+messageBlock( 'warning', 'black','There are no messages in the queue.' )

