extends ../../../src/views/base.pug

block prepend title
	- title = "Email Queue"
	- menu = 'email-queue'

block contents
	.table-responsive
			table.table.table-striped.table-condensed
				thead
					tr
						th State
						th Count
				tbody
					tr
						td Queued
						td=queue.length
					tr
						td Sent
						td=sent.length

	include partials/list.pug
