extends ../../../src/views/base.pug

block prepend title
	- title = 'Print label: ' + location.name
	- heading = "Have you put the 36mm tape into the label printer?"

block contents
	form( method="post" ).form-horizontal
		+messageBlock( 'warning', 'Please remember to put the 12mm tape back in after printing all the location labels.' )
		.form-group
			.col-md-4
				button( type='submit' ).btn.btn-success Yes, print label
				|  
				a( href="/locations" ).btn.btn-default Cancel
