extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove: ' + selected.name
	- heading = "Are you sure you want to remove " + selected.name + "?"
	- menu = "locations"

block contents
	form( method="post" )
		+messageBlock( 'dark', 'white', 'Deleting this location will transfer all the items to the new location selected below.' )
		.form-group.row
			label( for="location" ).col-lg-2.col-form-label Transfer items to
			.col-lg-4
				select( name="location", required )#location.form-control
					option( value="" disabled selected ) Select a location
					for location in locations
						option( value=location.id, disabled=location.disabled )=location.name
		.form-group.row
			.col-lg-4.offset-lg-2
				button( type='submit' ).btn.btn-danger Yes, remove and transfer
				|  
				a( href="/locations" ).btn.btn-outline-dark Cancel
