extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Location'
	- breadcrumb.push({name: location.name})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'locations'

block contents
	- action = 'Update'
	include partials/form.pug
