extends ../../../src/views/base.pug

block prepend title
	- title = 'Locations'
	- menu = 'locations'

block buttons
	if currentUserCan('locations_create')
		+btn('sm', 'outline-success', 'plus', 'Create Location', '/locations/create')
	+search

block contents
	include partials/list.pug
