extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove: ' + selected.name
	- heading = "Are you sure you want to remove " + selected.name + "?"
	- menu = "departments"

block contents
	form( method="post" )
		+messageBlock( 'dark', 'white', 'Deleting this department will transfer all the items to the new department selected below.' )
		.form-group.row
			label( for="department" ).col-lg-2.col-form-label Transfer items to
			.col-lg-4
				select( name="department", required )#department.form-control
					option( value="" disabled selected ) Select a department
					for department in departments
						option( value=department.id, disabled=department.disabled )=department.name
		.form-group.row
			.col-lg-4.offset-lg-2
				button( type='submit' ).btn.btn-danger Yes, remove and transfer
				|  
				a( href="/departments" ).btn.btn-outline-dark Cancel
