extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove'
	- heading = `Are you sure you want to remove "${selected.name}"?`
	- breadcrumb.push({name: selected.name})
	- breadcrumb.push({name: 'Remove'})
	- menu = 'departments'

block contents
	form(method="post")
		+csrf
		+messageBlock('danger', 'white', 'Deleting this department will transfer all the items to the new department selected below.')
		
		.form-group.row.mb-3
			label(for="department").col-lg-2.col-form-label Transfer items to
			.col-lg-4
				select#department(name="department" required).form-control.form-select
					option(value="" disabled selected) Select a department
					for department in departments
						option(value=department.id, disabled=department.disabled)=department.name
		
		.form-group.row.mb-3
			.col-lg-4.offset-lg-2
				button(type='submit').btn.btn-danger Yes, remove and transfer
				|  
				a(href="/departments").btn.btn-outline-secondary Cancel
