extends ../../../src/views/base.pug

block prepend title
	- title = "Create Department"
	- breadcrumb.push({name: 'Create'})
	- menu = 'departments'

block contents
	- action = 'Create'
	include partials/form.pug
