extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Department'
	- breadcrumb.push({name: department.name})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'departments'
	
block contents
	- action = 'Update'
	include partials/form.pug
