extends ../../../src/views/base.pug

block prepend title
	- title = 'Departments'
	- heading = title

block header
	h2=heading
		a( href="/departments/create" ).btn.btn-outline-success.btn-m.float-right
			span.fas.fa-plus
			|  Create

block contents
	include partials/list.pug
