extends ../../../src/views/base.pug

block prepend title
	- title = 'Departments'
	- menu = 'departments'
	
block buttons
	if currentUserCan('departments_create')
		+btn('sm', 'outline-success', 'plus', 'Create Department', '/departments/create')
	+search

block contents
	include partials/list.pug
