extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove: ' + selected.name
	- heading = "Are you sure you want to remove " + selected.name + "?"
	- menu = "years"

block contents
	form( method="post" )
		+csrf
		+messageBlock('danger', 'white', 'Deleting this year will transfer all the users to the new year selected below.')
		.form-group.row
			label( for="year" ).col-lg-2.col-form-label Transfer users to
			.col-lg-4
				select( name="year", required )#year.form-control
					option( value="" disabled selected ) Select a year
					for year in years
						option( value=year.id, disabled=year.disabled )=year.name
		.form-group.row
			.col-lg-4.offset-lg-2
				button( type='submit' ).btn.btn-danger Yes, remove and transfer
				|  
				a( href="/years" ).btn.btn-outline-dark Cancel
