extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Year'
	- breadcrumb.push({name: year.name})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'years'

block contents
	- action = 'Update'
	include partials/form.pug
