extends ../../../src/views/base.pug

block prepend title
	- title = "Years"
	- menu = 'years'

block buttons
	if currentUserCan('years_create')
		+btn('sm', 'outline-success', 'plus', 'Create Year', '/years/create')
	+search

block contents
	include partials/list.pug
