extends ../../../src/views/base.pug

block prepend title
	- title = "Years"
	- heading = title
	- menu = "years"

block buttons
	if currentUserCan('years_create')
		a( href="/years/create" ).btn.btn-outline-success.btn-sm.float-right
			span.fas.fa-plus
			|  Create
	+search

block contents
	include partials/list.pug
