extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove: ' + selected.name
	- heading = "Are you sure you want to remove " + selected.name + "?"
	- menu = "printers"

block contents
	form( method="post" )
		+csrf
		+messageBlock('danger', 'white','Users do not have to be associated with a printer by not selecting a new printer the users will be removed have no default printer.')
		.form-group.row
			label( for="printer" ).col-lg-2.col-form-label Transfer users to
			.col-lg-4
				select( name="printer" )#printer.form-control
					option( value="" disabled selected ) Select a printer
					for printer in printers
						option( value=printer.id, disabled=printer.disabled )=printer.name
		.form-group.row
			.col-lg-4.offset-lg-2
				button( type='submit' ).btn.btn-danger Yes, remove printer
				|  
				a( href="/printers" ).btn.btn-outline-dark Cancel
