extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Printer'
	- breadcrumb.push({name: printer.name})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'printers'

block contents
	- action = 'Update'
	include partials/form.pug
