extends ../../../src/views/base.pug

block prepend title
	- title = 'Printers'
	- menu = 'printers'

block buttons
	if currentUserCan('printers_create')
		+btn('sm', 'outline-success', 'plus', 'Create Printer', '/printers/create')
	+search

block contents
	include partials/list.pug
