extends ../../../src/views/base.pug

block prepend title
	- title = "Printers"
	- heading = title

block header
	h2=heading
		if currentUserCan('printers_create')
			a( href="/printers/create" ).btn.btn-outline-success.btn-m.float-right
				span.fas.fa-plus
				|  Create

block contents
	include partials/printer-list.pug
