form( method="post" ).form-horizontal
	.form-group
		label( for="name" ).col-md-2.control-label Name
		.col-md-4
			input( name="name", type="text", value=course.name, required ).form-control#name
	.form-group
		label( for="contact" ).col-md-2.control-label Contact
		.col-md-4
			select( name="contact" )#contact.form-control
				option( value="", selected ) Select a course contact
				for user in users
					option( value=user.id, selected=( user.id == course.contact_id ) )=user.name
	.form-group
		.col-md-4.col-md-offset-2
			button( type="submit" ).btn.btn-primary=action
			|  
			a( href="/courses" ).btn.btn-default Cancel
