if courses.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="40%" )
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
			thead
				tr
					th Name
						span.dropup
							span.caret
					th Contact
					th View
					th Manage
			tbody
				for course in courses
					tr
						td=course.name
						td: +user( course.contact_name, course.contact_id )
						td
							+btn( 'sm', 'outline-dark', 'user', 'Users', '/users/?course=' + course.id )
							+space
							+btn( 'sm', 'outline-dark', 'box', 'Items', '/items/?course=' + course.id )
						td
							+editBtn( '/courses/' + course.id + '/edit' )
							+space
							+removeBtn( '/courses/' + course.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no courses to display.' )
