form(method="post")
	+csrf
	
	.form-group.row.mb-3
		label(for="name").col-lg-2.col-form-label Name
		.col-lg-4
			input#name(name="name", type="text", value=course.name, required).form-control
	
	.form-group.row.mb-3
		label(for="contact").col-lg-2.col-form-label Contact
		.col-lg-4
			select(name="contact")#contact.form-control.form-select
				option(value="" selected) Select a course contact
				for user in users
					option(value=user.id selected=(user.id == course.contact_id))=user.name
	
	.form-group.row.mb-3
		.col-lg-4.offset-lg-2
			button(type="submit").btn.btn-primary=action
			|  
			a(href="/courses").btn.btn-outline-secondary Cancel
