if courses.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="40%" )
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
			thead.border-top-0
				tr
					th Name
						| 
						span.fas.fa-angle-up.text-muted
					th Contact
					if currentUserCan({or:['users_read','items_read']})
						th View
					if currentUserCan({or:['courses_edit','courses_remove']})
						th Manage
			tbody
				for course in courses
					tr
						td=course.name
						td(data-searchable=course.name): +user( course.contact_name, course.contact_id )
						if currentUserCan({or: ['users_read','items_read']})
							td
								if currentUserCan('users_read')
									+btn( 'sm', 'outline-secondary', 'user', 'Users', '/users/?course=' + course.id )
								if currentUserCan('items_read')
									+btn( 'sm', 'outline-secondary', 'box', 'Items', '/items/?course=' + course.id )
						if currentUserCan({or:['courses_edit','courses_remove']})
							td
								if currentUserCan('courses_edit')
									+editBtn( '/courses/' + course.id + '/edit' )
								if currentUserCan('courses_remove')
									+removeBtn( '/courses/' + course.id + '/remove' )
else
	+messageBlock( 'warning', 'black', 'There are no courses to display.' )
