extends ../../../src/views/base.pug

block prepend title
	- title = "Catalogue"
	- heading = title
	- menu = 'catalogue'

block buttons
	if loggedInUser
		+btn('sm', 'outline-primary', 'code', 'Markdown', '/catalogue/md')
	+search
	

block contents
	- filter_path = '/catalogue/'
	include partials/list.pug