extends ../../../src/views/base.pug

block prepend title
	- title = `Markdown`
	- breadcrumb.push({name: title})
	- menu = 'catalogue'

block buttons
	+btn('sm', 'outline-dark', 'arrow-left', 'Back', '/catalogue')
	

block contents
	pre=md