.row
	form( method="get" )
		.col-md-2
			select( name="course" )#course.form-control.input-sm
				option( value="" selected ) All courses
					for course in courses
						option( value=course._id selected=( course.id == selectedCourse ) )=course.name
		.col-md-2
			select( name="year" )#year.form-control.input-sm
				option( value="" selected ) All years
					for year in years
						option( value=year._id selected=( year.id == selectedYear ) )=year.name
		.col-md-1
			button.btn.btn-default.btn-sm
				span.glyphicon.glyphicon-filter
		.col-md-1.pull-right
			a( href="/users/create" ).btn.btn-default.btn-sm.pull-right
				span.glyphicon.glyphicon-plus
				|  Create User
		
