if history.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					th Name
					th Barcode
					th When
			tbody
				for row in history
					tr
						td: +item( row.item_name, row.item_id )
						td: +clipboard( row.item_barcode )
						td: +relative( row.datetime )
else
	+messageBlock( 'warning', 'No items have previously been loaned to this user.' )
