dl.dl-horizontal
	dt Barcode
	dd: +clipboard( user.barcode )
	dt Course
	dd: +course( user.course_name, user.course_id )
	dt Year
	dd: +year( user.year_name, user.year_id )
	if user.course_contact_id
		dt Staff Contact
		dd: +user( user.course_contact_name, user.course_contact_id )
	dt Email
	dd: +email( user.email )
	dt Status
	dd
		if user.disable
			| Disabled
		else
			| Active
	dt Type
	dd
		if user.type == 'admin'
			| Admin
		else
			| User
	if user.pw_attempts > 0
		dt Password Attempts 
		dd=user.pw_attempts
			if user.pw_attempts >= config.pw_tries
				|  (Locked Out) – 
				a( href=`/users/${user.id}/reset` ) Reset
