.row
	.col-md-4
		.row
			.col-md-5.font-weight-bold.text-md-right Status
			.col-md-7
				if user.disable
					| Disabled
				else
					| Active
			.col-md-5.font-weight-bold.text-md-right Role
			.col-md-7: +role( user.role_name, user.role_id )
				
			if user.pw_attempts > 0
				.col-md-5.font-weight-bold.text-md-right Password Attempts 
				.col-md-7=user.pw_attempts
					if user.pw_attempts >= Options.get('password_tries')
						|  (Locked Out)
						if currentUserCan('users_reset_password_attempts')
							|  – 
							a( href=`/users/${user.id}/reset` ) Reset
	.col-md-4
		.row
			.col-md-5.font-weight-bold.text-md-right Barcode
			.col-md-7: +clipboard( user.barcode )
			if user.course_contact_id
				.col-md-5.font-weight-bold.text-md-right Staff Contact
				.col-md-7: +user( user.course_contact_name, user.course_contact_id )
			.col-md-5.font-weight-bold.text-md-right Email
			.col-md-7: +email( user.email )
			
	.col-md-4
		.row
			.col-md-5.font-weight-bold.text-md-right Course
			.col-md-7: +course( user.course_name, user.course_id )
			.col-md-5.font-weight-bold.text-md-right Year
			.col-md-7: +year( user.year_name, user.year_id )
