if users && users.length > 0
	.table-responsive
		table.table.table-striped.table-sm
			thead
				tr
					if edit
						th
							input(type="checkbox" title="Check All", checked=multi).checkall
					if multi
						th Name
					else
						th
							+sortUserHead('Name', 'name', sortby, direction, selected)
					if multi
						th Role
					else
						th
							+sortUserHead('Role', 'role', sortby, direction, selected)
					if multi
						th Course
					else
						th
							+sortUserHead('Course', 'course', sortby, direction, selected)
					if multi
						th Year
					else
						th
							+sortUserHead('Year', 'year', sortby, direction, selected)
					if multi
						th Barcode
							span.dropup
								span.caret
					else
						th
							+sortUserHead('Barcode', 'barcode', sortby, direction, selected)
					th
						| Email
			tbody
				for user in users
					tr
						if edit
							td
								if user.id != loggedInUser.id
									input(type="checkbox" name="ids" value=user.id checked=multi)
						td(data-searchable=user.name): +user(user.name, user.id)
						td: +role(user.role_name, user.role_id)
						td: +course(user.course_name, user.course_id)
						td: +year(user.year_name, user.year_id)
						td: +clipboard(user.barcode)
						td: +email(user.email)
else
	+messageBlock('warning', 'black','There are no users to display.')
