if items.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					th Name
					th Barcode
					th When
			tbody
				for item in items
					tr
						td: +item( item.name, item.id )
						td: +clipboard( item.barcode )
						td: +relative( item.updated )
else
	p There are no items to display.
