if items.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					th Name
					th Barcode
					th When
			tbody
				for item in items
					tr
						td: a( href="/items/ " + item.id )=item.name
						td: span( data-clipboard-text=item.barcode ).clipboard=item.barcode
						td: span( title=moment( item.updated ).format( 'HH:mm:ss D/M/Y' ) )=moment( item.updated ).fromNow()
else
	p There are no items to display.
