form( method="post" )
	+csrf
	.form-group.row
		label( for="start_date" ).col-lg-2.col-form-label Start date
		.col-lg-4
			input( name="start_date" type="datetime-local" value=moment( reservation.start_date ).format( 'YYYY-MM-DDTHH:MM' )  )#start_date.form-control
	.form-group.row
		label( for="end_date" ).col-lg-2.col-form-label End date
		.col-lg-4
			input( name="end_date" type="datetime-local" value=moment( reservation.end_date ).format( 'YYYY-MM-DDTHH:MM' )  )#end_date.form-control
	.form-group.row
		label( for="action" ).col-lg-2.col-form-label Action
		.col-lg-4
			select( name="action" )#action.form-control
				option( value="reserve" selected=(reservation.action=='reserve') ) Reserve
				option( value="maintenance" selected=(reservation.action=='maintenance') ) Maintenance
	.form-group.row
		.col-lg-4.offset-lg-2
			button( type="submit" ).btn.btn-primary=action
			|  
			a( href="/reservations" ).btn.btn-outline-secondary Cancel
