#sidebarMenu {
	font-size: .9em;
}

#sidebarMenu .nav-link {
	color: #333;
	font-weight: 500;
}

#sidebarMenu .fa {
	margin-right: 4px;
	color: #999;
	transition: color .1s;
}

#sidebarMenu .nav-link:hover .fa {
	color: #333;
}