body {
	padding-top: 50px;
}

#cmd input {
  text-transform: uppercase;
}

#barcode {
  text-transform: uppercase;
}

body.dev:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0; 
	right: 0;
	height: 3px;
	background: url( /imgs/dev.png );
}

body.dev .navbar {
	top: 3px;
}