extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove Role'
	- heading = `Are you sure you want to remove "${selected.name}"?`
	- breadcrumb.push({name: selected.name})
	- breadcrumb.push({name: 'Remove'})
	- menu = 'roles'

block contents
	form(method="post")
		+csrf
		+messageBlock('danger', 'white', 'Users do not have to be associated with a role by not selecting a new role the users will be removed from the role being deleted.')
		
		.form-group.row.mb-3
			label(for="role").col-lg-2.col-form-label Transfer users to
			.col-lg-4
				select#role(name="role").form-control.form-select
					option(value="" disabled selected) Select a role
					for role in roles
						option(value=role.id, disabled=role.disabled)=role.name
		
		.form-group.row.mb-3
			.col-lg-4.offset-lg-2
				button(type='submit').btn.btn-danger Yes, remove role
				|  
				a(href="/roles").btn.btn-outline-secondary Cancel
