extends ../../../src/views/base.pug

block prepend title
	- title = 'Create Role'
	- breadcrumb.push({name: 'Create'})
	- menu = 'roles'

block contents
	- action = 'Create'
	include partials/form.pug
