extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Role'
	- breadcrumb.push({name: role.name})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'roles'

block contents
	- action = 'Update'
	include partials/form.pug
