extends ../../../src/views/base.pug

block prepend title
	- title = "Roles"
	- heading = title

block header
	h2=heading
		if currentUserCan('roles_create')
			a( href="/roles/create" ).btn.btn-outline-success.btn-m.float-right
				span.fas.fa-plus
				|  Create

block contents
	include partials/list.pug
