extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove Template'
	- breadcrumb.push({name: selected.name})
	- breadcrumb.push({name: 'Remove'})
	- heading = `Are you sure you want to remove "${selected.name}"?`
	- menu = 'templates'

block contents
	form( method="post" )
		+csrf
		.form-group.row
			.col-lg-4
				button( type='submit' ).btn.btn-danger Yes, remove template
				|  
				a( href="/templates" ).btn.btn-outline-secondary Cancel
