extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove Items'
	- heading = 'Are you sure you want to remove the following items?'
	- breadcrumb.push({name: 'Remove'})
	- menu = 'items'

block contents
	form(method="post")
		.form-group.row
			.col-lg-12
				+csrf
				+messageBlock('danger', 'white', 'Removing these items will also delete it the historical data about actions performed against these items.')
		.form-group.row
			.col-lg-12
				ul
					for item in items
						li=item.name
							|  (
							+clipboard(item.barcode)
							| )
		.form-group.row
			.col-lg-12
				.checkbox
					label(for="confirm")
						input(name="confirm" type="checkbox")#confirm
						|  I am sure I want to delete all of these items and their historical data
		.form-group.row
			.col-lg-12
				input(type="hidden" name="ids" value=ids)
				button(type='submit').btn.btn-danger Yes, remove these items
				|  
				a(href="/items").btn.btn-outline-secondary Cancel
