extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Item'
	- breadcrumb.push({name: item.name, url: `/items/${item.id}`})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'items'

block contents
	- action = 'Update'
	include partials/form.pug
