extends ../../../src/views/base.pug

block prepend title
	- title = "Edit Multiple Items"
	- heading = title

block contents
	form( action="/items/edit" method="post" )
		.form-group.row
			label( for="label" ).col-lg-2.col-form-label Label
			.col-lg-4
				.input-group
					select( name="label" required )#label.form-control
						option( value="12mm" ) 12mm Tape
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="label" )
		.form-group.row
			label( for="group" ).col-lg-2.col-form-label Group
			.col-lg-4
				.input-group
					select( name="group" )#group.form-control
						option( value="" selected ) Select a group
						for group in groups
							option( value=group.id )=group.name
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="group" )
		.form-group.row
			label( for="location" ).col-lg-2.col-form-label Location
			.col-lg-4
				.input-group
					select( name="location" )#location.form-control
						option( value="" disabled selected ) Select a location
						for location in locations
							option( value=location.id )=location.name
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="location" )
		.form-group.row
			label( for="department" ).col-lg-2.col-form-label Department
			.col-lg-4
				.input-group
					select( name="department" )#location.form-control
						option( value="" selected ) Select a department
						for department in departments
							option( value=department.id )=department.name
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="department" )
		.form-group.row
			label( for="value" ).col-lg-2.col-form-label Value
			.col-lg-4
				.input-group
					.input-group-prepend
						.input-group-text &pound;
					input( name="value" type="number" )#value.form-control
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="value" )
		.form-group.row
			label( for="notes" ).col-lg-2.col-form-label Notes
			.col-lg-4
				.input-group
					input( name="notes" type="text" )#notes.form-control
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="notes" )
		.form-group.row
			.col-lg-4.offset-lg-2
				button( type="submit" ).btn.btn-outline-dark Update
		h3 Items
		- edit = true
		- multi = true
		include partials/list.pug
