extends ../../../src/views/base.pug

block prepend title
	- title = "Generate items"
	- heading = title

block contents
	.row
		.col-md-5
			form( method="post" )
				p
					label( for="name" ) Name
					input( name="name" type="text" required )#name.form-control
				p
					label( for="group" ) Group
					select( name="group" )#group.form-control
						option( value="" selected ) Select a group
						for group in groups
							option( value=group._id )=group.name
				p
					label( for="department" ) Department
					select( name="department" required )#department.form-control
						option( value="" disabled selected ) Select a department
						for department in departments
							option( value=department._id )=department.name
				p
					label( for="value" ) Value £
					input( name="value" type="number" )#value.form-control
				p
					label( for="notes" ) Notes
					input( name="notes" type="text" )#notes.form-control
				.page-header
					h3 Barcode
				p
					label( for="prefix" ) Prefix
					input( name="prefix" type="text" autocomplete="off" required )#prefix.form-control
				p
					label( for="start" ) Start
					input( name="start" type="number" min="1" max="98" autocomplete="off" required )#start.form-control
				p
					label( for="end" ) End
					input( name="end" type="number" min="2" max="99" autocomplete="off" required )#end.form-control
				.page-header
					h3 Options
				p
					input( name="suffix" type="checkbox" checked )#suffix
					|  
					label( for="suffix" ) Suffix name with index number
				p
					input( name="print" type="checkbox" checked )#print
					|  
					label( for="print" ) Print Barcode Labels
				p
					input( name="largeBatch" type="checkbox" )#largeBatch
					|  
					label( for="largeBatch" ) I am generating a batch larger than 25 items
				p
					input( type="submit" value="Generate" ).btn.btn-default
