extends ../../../src/views/base.pug

block prepend title
	- title = "Items"
	- heading = title
	- menu = "items"

block append js
	script(src="/js/multiaction.js")

block buttons
	if currentUserCan('items_import')
		a( href="/items/import" ).btn.btn-outline-success.btn-sm.float-right.ml-2
			span.fas.fa-file-csv
			|  Import Items
	if currentUserCan('items_create')
		a( href="/items/create" ).btn.btn-outline-success.btn-sm.float-right.ml-2
			span.fas.fa-plus
			|  Create Items

block contents
	- filter_path = '/items/'
	include partials/filter.pug
	form#multi-form
		+csrf
		- edit = true
		include partials/list.pug
			if currentUserCan('items_multi_edit')
				button(disabled type="button" data-action="/items/edit").multi.btn.btn-sm.btn-primary
					span.fas.fa-pencil-alt
					|  Edit
				|  
			if currentUserCan('items_multi_remove')
				button(disabled type="button" data-action="/items/remove").multi.btn.btn-sm.btn-danger
					span.far.fa-trash-alt
					|  Remove
				|  
			if currentUserCan('print')
				button(disabled type="button" data-action="/items/label").multi.btn.btn-sm.btn-outline-dark
					span.fas.fa-print
					|  Print Labels