extends ../../../src/views/base.pug

block prepend title
	- title = item.name
	- heading = title

block header
	.page-header
		h2=heading
			.btn-group.pull-right(style='margin-left:.25em;')
				include partials/print-btn.pug
			.btn-group.pull-right
				a( href="/items/" + item.id + "/edit", title="Edit" ).btn.btn-default.btn-m
					span.glyphicon.glyphicon-pencil
					|  Edit
				a( href="/items/" + item.id + "/delete", title="Delete" ).btn.btn-default.btn-m
					span.glyphicon.glyphicon-remove
					|  Delete

block contents
	include partials/info.pug
	hr
	block history
		include partials/history.pug
