extends ../../../src/views/base.pug

block prepend title
	- title = "Items"
	- heading = title

block contents
	- newButtons = true
	include partials/filter.pug
	hr
	if items.length == 0
		+messageBlock( 'info', 'Items will be shown after selecting your filtering options above.' )
	else
		form( action="/items/edit", method="post" )
			- edit = true
			include partials/items-list.pug
			button( type="submit" ).btn.btn-default Edit Selected
