extends ../../../src/views/base.pug

block prepend title
	- title = item.name
	- heading = title

block contents
	include partials/info.pug
	a( href="/items/" + item._id + "/edit", title="Edit" ).btn.btn-default
		span.glyphicon.glyphicon-pencil
		|  Edit
	|  
	if loggedInUser.printer
		.btn-group
			a( href="/items/" + item._id + "/label?printer=" + loggedInUser.printer._id ).btn.btn-default
				span.glyphicon.glyphicon-print
				|  Print Label to #{ loggedInUser.printer.name }
			if printers.length > 1
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					span.caret
					span.sr-only Toggle Dropdown
					<ul class="dropdown-menu">
					<li class="dropdown-header">Other Printers</li>
					for printer in printers
						if printer._id.toString() != loggedInUser.printer._id.toString()
							li: a( href="/items/" + item._id + "label?printer=" + printer._id ) #{ printer.name }
	hr
	block transactions
		include partials/transactions.pug
