extends ../../../src/views/base.pug

block prepend title
	- title = "Reports"
	- heading = title
	- menu = "items"

block contents
	if currentUserCan('view_reports')
		h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
			span Due
		ul.nav.flex-column.mb-2
			li.nav-item
				a.nav-link(href="/items/?due=overdue")
					span.mr-2.far.fa-file-alt
					| Overdue
				a.nav-link(href="/items/?due=today")
					span.mr-2.far.fa-file-alt
					| Today
				
		h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
			span Status
		ul.nav.flex-column.mb-2
			li.nav-item
				a.nav-link(href="/items/?status=available")
					span.mr-2.far.fa-file-alt
					| Available
			li.nav-item
				a.nav-link(href="/items/?status=on-loan")
					span.mr-2.far.fa-file-alt
					| On Loan
			li.nav-item
				a.nav-link(href="/items/?status=broken")
					span.mr-2.far.fa-file-alt
					| Broken
			li.nav-item
				a.nav-link(href="/items/?status=lost")
					span.mr-2.far.fa-file-alt
					| Lost
				
		h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
			span Audit
		ul.nav.flex-column.mb-2
			li.nav-item
				a.nav-link(href="/items/?audited=auditpoint&scanned=true")
					span.mr-2.far.fa-file-alt
					| Scanned
			li.nav-item
				a.nav-link(href="/items/?audited=auditpoint&scanned=false")
					span.mr-2.far.fa-file-alt
					| Missing
