extends ../../../src/views/base.pug

block prepend title
	- title = 'Reset Option'
	- heading = `Are you sure you want to reset "${key}"?`
	- breadcrumb.push({name: key})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'options'

block contents
	form(method="post")
		+csrf
		
		.form-group.row.mb-3
			.col-lg-4
				button(type='submit').btn.btn-danger Yes, reset option
				|  
				a(href="/options").btn.btn-outline-secondary Cancel
