extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Option'
	- breadcrumb.push({name: key})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'options'

block contents
	- action = 'Update'
	include partials/form.pug
