extends ../../../src/views/base.pug

block prepend base
	- fs = true

block prepend title
	- title = "Login"

block navbar

block header

block footer
	
block flash

block append css
	link(rel="stylesheet", type="text/css", href="/css/login.css")

block contents
	.col-12.text-center
		form(method="post" action="/login").form-signin
			+csrf
			img(src="/imgs/logo.svg" height="128").mb-2
			h1.mb-0=Options.get('application_name')
			h5.mb-4.text-muted=Options.get('organisation_name')
			include ../../../src/views/partials/flash.pug
			label(for="username").sr-only Username
			input(type="username" name="username" placeholder="Username" autofocus required)#username.form-control
			label(for="password").sr-only Username
			input(type="password" name="password" placeholder="Password"  required)#password.form-control
			button(type="submit").btn.btn-lg.btn-primary.btn-block.w-100.mb-2 Login
			if Options.getBoolean('public_catalogue')
				a(href="/").btn.btn-lg.btn-outline-secondary.btn-block.w-100 Cancel
