form( method="post" )
	+csrf
	.form-group.row
		label( for="name" ).col-lg-2.col-form-label Name
		.col-lg-4
			input( name="name", type="text", value=( year && year.name ? year.name : null ), required ).form-control#name
	.form-group.row
		.col-lg-4.offset-lg-2
			button( type="submit" ).btn.btn-primary=action
			|  
			a( href="/years" ).btn.btn-outline-dark Cancel
