if years.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="80%" )
				col( width="20%" )
			thead
				tr
					th Name
						| 
						span.fas.fa-angle-up.text-muted
					if currentUserCan({or:['years_edit','years_remove']})
						th Manage
			tbody
				for year in years
					tr
						td(data-searchable=year.name)=year.name
						if currentUserCan({or:['years_edit','years_remove']})
							td
								if currentUserCan('years_edit')
									+editBtn( '/years/' + year.id + '/edit' )
								if currentUserCan('years_remove')
									+removeBtn( '/years/' + year.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no years to display.' )
