if years.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="80%" )
				col( width="20%" )
			thead
				tr
					th Name
						span.dropup
							span.caret
					th Manage
			tbody
				for year in years
					tr
						td=year.name
						td
							+editBtn( '/years/' + year.id + '/edit' )
							+space
							+removeBtn( '/years/' + year.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no years to display.' )
