if years.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					th Name
			tbody
				for year in years
					tr
						td: include year.pug
else
	+messageBlock( 'warning', 'There are no years to display.' )
