extends base-basic.pug

block prepend title
	- title = "Error 400"
	- heading = "400: Bad Request"

block contents
	p.lead Please ensure cookies are enabled.
	p.lead Your browser request did not include the CSRF token or it was invalid.
