extends base.pug

block prepend title
	- title = "Error 500"
	- heading = "500: Server Error"

block contents
	p.lead The server suffered an error.
	if error
		h4.pb-2.mt-4.mb-2.border-bottom Debug
		.bg-warning.p-3.rounded.text-black
			pre #{ error }
