doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
		link(rel="shortcut icon" href="/imgs/favicon.ico")
		block title
			title #{title}
		block head
			block css
				link(rel="stylesheet", href="/css/style.css")
				link(rel="stylesheet", href="/fontawesome/css/solid.min.css")
				link(rel="stylesheet", href="/fontawesome/css/all.min.css")
			block js
				script(src="/clipboard/clipboard.min.js")
				script(src="/js/script.js")
	body
		nav.navbar.navbar-expand-md.sticky-top
			.container-fluid.col-lg-2.col-md-3.brand
				a(href="/").navbar-brand.d-flex.align-items-center
					img(src="/imgs/logo.svg").d-inline-block.align-text-top
					| Checkout
				button.navbar-toggler.ms-auto(type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle sidebar")
						span.navbar-toggler-icon
							.nav-item.no-wrap: a.nav-link.text-nowrap.actionBtn(href="/logout")
								span.fas.fa-sign-out-alt
			.container-fluid.col-lg-10.col-md-9.p-0
				.navbar-collapse.collapse
					.navbar-nav.ms-auto
						.nav-item.me-2: a.nav-link.actionBtn(href="/logout")
							span.fas.fa-sign-out-alt
		.container-fluid
			.row
				nav#sidebarMenu.col-lg-2.col-md-3.collapse.d-md-block
					.position-sticky.pt-2
						ul.nav.flex-column
							li.nav-item
								a.nav-link(href="/")
									span.me-2.fa.fa-arrow-left
									| Back

				main.col-12.col-lg-10.col-md-9.ms-auto
					.row
						.col-12.pt-1
							block header
								.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
									h1.h2=heading
						.col-12
							block contents
