include ../partials/mixins.pug

.panel.panel-primary( data-barcode=item.barcode, data-type='item' )
	.panel-heading
		h3.panel-title
			span.glyphicon.glyphicon-tag
			|  
			a( href="/items/" + item.id )=item.name
			.pull-right( style="margin-top: -3px;" ): +status( item.status )
	.panel-body
		.row
			.col-md-5
				dl.dl-horizontal
					dt Barcode
					dd: +clipboard(item.barcode)
					if item.serialnumber
						dt Serial number
						dd: +clipboard(item.serialnumber)
					if item.owner_id
						dt Owner
						dd: +user( item.owner_name, item.owner_id )
					if item.status == 'on-loan'
						dt Issued
						dd: +fulldate( item.issued )
						dt Due
						dd: +relative( item.due, true )
			.col-md-6
				dl.dl-horizontal
					dt Location
					dd: +location(item.location_name, item.location_id)
					if item.department_id
						dt Department
						dd: +department(item.department_name, item.department_id)
					if item.group_id
						dt Group
						dd: +group(item.group_name, item.group_id)
					if item.notes
						dt Notes
						dd=item.notes
			.col-md-1.buttons
				if item.status == 'available'
					button.btn.btn-default.pull-right( style='margin-bottom: .25em;' ) Lost
					button.btn.btn-default.pull-right Broken
				else
					button.btn.btn-default.pull-right Return
					
