include ../partials/mixins.pug

.card(data-barcode=item.barcode, data-type='item').mb-3
	.card-header.bg-primary
		.card-title.mb-0
			span.fas.fa-box.text-white
			|  
			if currentUserCan('items_read')
				a(href="/items/" + item.id).text-white.font-weight-strong=item.name
			else
				span.text-white #{item.name}
			.float-end(style="margin-top: -3px;"): +status(item.loanable ? item.status : 'unavailable')
	.card-body
		if item.alert_msg
			.alert(class='alert-info')
				strong Alert:
				|  #{item.alert_msg}
		.row
			.col-md-5
				.row
					.col-md-5.font-weight-bold Barcode
					.col-md-7: +clipboard(item.barcode)
				if item.serialnumber
					.row
						.col-md-5.font-weight-bold Serial number
						.col-md-7: +clipboard(item.serialnumber)
				if item.owner_id
					.row
						.col-md-5.font-weight-bold Owner
						.col-md-7: +user(item.owner_name, item.owner_id)
				if item.status == 'on-loan'
					.row
						.col-md-5.font-weight-bold Issued
						.col-md-7: +fulldate(item.issued)
					if item.due
						.row
							.col-md-5.font-weight-bold  Due
							.col-md-7: +relative(item.due, true)
			.col-md-5
				.row
					.col-md-5.font-weight-bold Location
					.col-md-7: +location(item.location_name, item.location_id)
				if item.department_id
					.row
						.col-md-5.font-weight-bold Department
						.col-md-7: +department(item.department_name, item.department_id)
				if item.group_id
					.row
						.col-md-5.font-weight-bold Group
						.col-md-7: +group(item.group_name, item.group_id)
				if item.notes
					.row
						.col-md-5.font-weight-bold Notes
						.col-md-7=item.notes
			.col-md-2.buttons
				if item.status != 'available'
					if currentUserCan('items_return')
						button.btn.btn-outline-success.float-end(style='margin: .25em;' data-btn-action='return')
							span.fas.fa-sign-in-alt
							|  Return
				if item.status != 'lost' && item.status != 'broken' && item.status != 'sold'
					.btn-group.dropstart.float-end
						button(type='button' data-bs-toggle='dropdown' aria-expanded='false').btn.btn-outline-secondary.dropdown-toggle Mark as
						ul.dropdown-menu
							if currentUserCan('items_broken')
								li: a.dropdown-item(data-btn-action='broken')
									span.fas.fa-heart-broken
									|  Broken
							if currentUserCan('items_lost')
								li: a.dropdown-item(data-btn-action='lost')
									span.fas.fa-compass
									|  Lost
							if currentUserCan('items_sold')
								li: a.dropdown-item(data-btn-action='sold')
									span.fas.fa-cash-register
									|  Sold