.panel.panel-primary( data-barcode=item.barcode, data-type='item' )
	.panel-heading
		h3.panel-title
			span.glyphicon.glyphicon-tag
			|  
			a( href="/items/" + item._id )=item.name
			- status = item.status
			.pull-right( style="margin-top: -3px;" ): include ../../../apps/items/views/partials/status.pug
	.panel-body
		.row
			.col-md-10
				dl.dl-horizontal
					dt Barcode
					dd: a( href="/items/" + item._id + "/label" )
						span.glyphicon.glyphicon-print
						|  
						span.clipboard( data-clipboard-text=item.barcode )=item.barcode
					if item.group
						dt Group
						dd: a( target="_blank" href="/groups/" + item.group._id )=item.group.name
							if item.group.limiter
								small
									em  (Limit per user: #{ item.group.limiter })
						
					if item.owner
						dt Owner:
						dd: a( target="_blank" href="/users/" + item.owner._id )=item.owner.name
					dt Department
					dd: a( target="_blank" href="/departments/" + item.department._id )=item.department.name
			.col-md-2.buttons
				if item.status == 'available'
					button.btn.btn-default.pull-right( style='margin-bottom: .25em;' ) Lost
					button.btn.btn-default.pull-right Broken
				else
					button.btn.btn-default.pull-right Return
					
