include ../partials/mixins.pug

.panel.panel-primary( data-barcode=user.barcode, data-type='user' )
	.panel-heading
		h3.panel-title
			span.glyphicon.glyphicon-user
			|  
			+user( user.name, user.id )
	.panel-body
		dl.dl-horizontal
			dt Barcode
			dd: +clipboard( user.barcode )
			dt Email
			dd: +email( user.email )
			dt Course
			dd: +course( user.course_name, user.course_id )
			dt Year
			dd: +year( user.year_name, user.year_id )
			if user.disable
				dt Account disabled
				dd Yes
		if onloan.length > 0
			h3 On Loan

	if onloan.length > 0
		table.table.table-striped
			thead
				tr
					th Name
					th Barcode
					th When
			tbody
				for item in onloan
					tr
						td: +item( item.name, item.id )
						td: +clipboard( item.barcode )
						td: +fulldate( item.updated )
