include ../partials/mixins.pug

.card.card-primary( data-barcode=user.barcode, data-type='user' ).mb-3
	.card-header.bg-primary
		.card-title.mb-0
			span.fas.fa-user.text-white
			|  
			if currentUserCan('users_read')
				a( href="/users/" + user.id ).text-white.font-weight-strong=user.name
			else
				span.text-white #{user.name}
	.card-body
		.row
			.col-md-5.font-weight-bold.text-md-right Barcode
			.col-md-7: +clipboard( user.barcode )
			.col-md-5.font-weight-bold.text-md-right Email
			.col-md-7: +email( user.email )
			.col-md-5.font-weight-bold.text-md-right Course
			.col-md-7: +course( user.course_name, user.course_id )
			.col-md-5.font-weight-bold.text-md-right Year
			.col-md-7: +year( user.year_name, user.year_id )
			if user.disable
				.col-md-5.font-weight-bold.text-md-right Account disabled
				.col-md-7 Yes
	if onloan.length > 0
		table.table.table-striped
			thead
				tr
					th Name
					th Barcode
					th Issued
					th Due
			tbody
				for item in onloan
					tr
						td: +item( item.name, item.id, item.info_url )
						td: +clipboard( item.barcode )
						td: +date( item.issued )
						td: +relative( item.due, true )
