extends ../../../src/views/base.pug

block prepend title
	- title = "Courses"
	- heading = "Course: " + course.name

block contents
	if course.contact
		dl.dl-horizontal
			dt Contact
			dd: a( href="/users/" + course.contact._id )=course.contact.name
	p
		a( href="/courses/" + course._id + "/edit" ).btn.btn-default
			span.glyphicon.glyphicon-pencil
			|  Edit
		|  
		if course.contact
			
			a.btn.btn-default( href='mailto:' + course.contact.email + '?subject=' + encodeURI( "[ATTN] Items outstanding for " + course.name ) + "&body=" + encodeURI( email ) )
				span.glyphicon.glyphicon-envelope
				|  Generate email
	hr
	.row
		form( method="get" )
			.col-md-2
				select( name="year" )#year.form-control.input-sm
					option( value="" selected ) All years
						for year in years
							option( value=year._id selected=( year.id == selectedYear ) )=year.name
			.col-md-1
				button.btn.btn-default.btn-sm
					span.glyphicon.glyphicon-filter
	hr
	ul.nav.nav-tabs
		li( role="presentation" ).active
			a( href="#users", aria-controls="users", role="tab", data-toggle="tab" ) Users
		li( role="presentation" )
			a( href="#items", aria-controls="items", role="tab", data-toggle="tab" ) Items
	.tab-content
		#users.tab-pane.active( role="tabpanel" )
			- no_course = true
			include ../../users/views/partials/user-list.pug
		#items.tab-pane( role="tabpanel" )
			include ../../items/views/partials/items-list.pug
