extends ../../../src/views/base.pug

block prepend title
	- title = "Courses"
	- heading = title

block header
	h2=heading
		a( href="/courses/create" ).btn.btn-outline-success.btn-m.float-right
			span.fas.fa-plus
			|  Create

block contents
	include partials/course-list.pug
