extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Course'
	- breadcrumb.push({name: course.name})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'courses'

block contents
	- action = 'Update'
	include partials/form.pug
