extends ../../../src/views/base.pug

block prepend title
	- title = "Courses"
	- menu = 'courses'

block buttons
	if currentUserCan('courses_create')
		+btn('sm', 'outline-success', 'plus', 'Create Course', '/courses/create')
	+search

block contents
	include partials/list.pug
