if actions && actions.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					th When
					th Action
					th Item
					th Barcode
					th To
					th Operator
			tbody
				for row in actions
					tr
						td: +fulldate(row.datetime)
						td: +status(row.action)
						td: +item(row.item_name, row.item_id)
						td: +clipboard(row.item_barcode)
						td: +user(row.owner_name, row.owner_id)
						td: +user(row.operator_name, row.operator_id)
else
	+messageBlock('warning', 'black', 'There are no items to display.')
			
