nav.navbar.navbar-expand-lg.sticky-top.p-0.shadow.bg-dark.navbar-dark
	a(href="/").navbar-brand.col-md-3.col-lg-2.mr-0.px-3.d-flex.align-items-center
		img(src="/imgs/icon.svg" width="22" height="22")
		span.ml-2.align=Options.get('application_name')
		
	button.navbar-toggler.position-absolute.d-md-none(type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation")
		span.navbar-toggler-icon
	
	if loggedInUser
		if currentUserCan('global_search')
			input.form-control.form-control-dark.mr-md-2.w-100(type="text" placeholder="Search")
		.navbar-nav.ml-auto
			if loggedInUser
				.nav-item.dropdown
					a( href="#" id="user" data-toggle="dropdown" ).dropdown-toggle.nav-link.mr-2=loggedInUser.name
					.dropdown-menu( aria-labelledby="user" ).dropdown-menu-right.mr-2
						if currentUserCan('edit_profile')
							a( href='/profile' ).dropdown-item
								span.fas.fa-pencil-alt
								|  Edit Profile
						if currentUserCan({and:['activate_kiosk_mode','edit_profile']})
							.dropdown-divider
						if kioskMode
							a( href="/kiosk/logout").dropdown-item
								span.fas.fa-sign-out-alt
								|  Logout
						else
							a( href="/logout").dropdown-item
								span.fas.fa-sign-out-alt
								|  Logout
