nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
	a( href="/" ).navbar-brand
		span.fas.fa-home
	button( type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation" ).navbar-toggler
		span.navbar-toggler-icon
	.collapse.navbar-collapse#menu
		.navbar-nav.mr-auto
			if loggedInUser
				a( href="/items" ).nav-item.nav-link Items
				a( href="/users" ).nav-item.nav-link Users
		.navbar-nav.ml-auto
			if loggedInUser
				.nav-item.dropdown
					a( href="#" id="admin" data-toggle="dropdown" ).dropdown-toggle.nav-link Admin
					.dropdown-menu( aria-labelledby="admin" ).dropdown-menu-right
						a( href="/groups" ).dropdown-item Groups
						a( href="/locations" ).dropdown-item Locations
						.dropdown-divider
						a( href="/courses" ).dropdown-item Courses
						a( href="/years" ).dropdown-item Years
						.dropdown-divider
						a( href="/printers" ).dropdown-item Printers
						.dropdown-divider
						.dropdown-header
							span.fas.fa-barcode
							|  Audit
						a( href="/audit/scanned" ).dropdown-item Scanned
						a( href="/audit/missing" ).dropdown-item Missing
				.nav-item.dropdown
					a( href="#" id="user" data-toggle="dropdown" ).dropdown-toggle.nav-link=loggedInUser.name
					.dropdown-menu( aria-labelledby="user" ).dropdown-menu-right
						a( href='/users/' + loggedInUser.id + '/edit' ).dropdown-item
							span.fas.fa-pencil-alt
							|  Edit Profile
						.dropdown-divider
						a( href="/logout").dropdown-item
							span.fas.fa-sign-out-alt
							|  Logout
