nav.navbar.navbar-expand-md.sticky-top
	.container-fluid.col-lg-2.col-md-3.brand
		a(href="/").navbar-brand.d-flex.align-items-center
			img(src="/imgs/logo.svg").d-inline-block.align-text-top
			| #{Options.get('application_name')}

	if loggedInUser
		.container-fluid.col-lg-10.col-md-9.p-0
			button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#topMenu" aria-controls="topMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon

			.navbar-collapse.collapse
				if currentUserCan('global_search')
					input#search.form-control.w-100(type="search" placeholder="Search" aria-label="Search" autocomplete="off")
				
				.navbar-nav.me-auto
					//- .nav-item: a.nav-link(href="/test") Test item
					.nav-item.dropdown
						a.nav-link.dropdown-toggle.me-2(href="#" id="topMenuAccountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")=loggedInUser.name
						ul.dropdown-menu.dropdown-menu-end.me-2(aria-labelledby="topMenuAccountDropdown")
							li: a.dropdown-item(href="/shortcuts")
								span.far.fa-keyboard
								|  Shortcuts
							if currentUserCan('edit_profile')
								li: hr.dropdown-divider
								li: a.dropdown-item(href='/profile')
									span.fas.fa-pencil-alt
									|  Edit Profile
							li: hr.dropdown-divider
							li: a.dropdown-item(href=kioskMode ? "/kiosk/logout" : "/logout")
								span.fas.fa-sign-out-alt
								|  Logout