nav.container-fluid.navbar.navbar-dark.sticky-top.flex-md-nowrap.p-0
	a(href="/").navbar-brand.col-2.px-3
		img(src="/imgs/icon.svg" width="22" height="22")
		span=Options.get('application_name')
		
	button.navbar-toggler.position-absolute.d-md-none(type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation")
		span.navbar-toggler-icon
	
	if loggedInUser
		if currentUserCan('global_search')
			input#search.form-control.form-control-dark.w-100(type="text" placeholder="Search" autocomplete="off")
		.navbar-nav.me-auto
			if loggedInUser
				.nav-item.dropdown
					a( href="#" id="user" data-bs-toggle="dropdown" ).dropdown-toggle.nav-link.me-2=loggedInUser.name
					.dropdown-menu( aria-labelledby="user" ).dropdown-menu-right.me-2
						a( href='/shortcuts' ).dropdown-item
							span.far.fa-keyboard
							|  Shortcuts
						if currentUserCan('edit_profile')
							.dropdown-divider
							a( href='/profile' ).dropdown-item
								span.fas.fa-pencil-alt
								|  Edit Profile
						if currentUserCan({and:['activate_kiosk_mode','edit_profile']})
							.dropdown-divider
						if kioskMode
							a( href="/kiosk/logout").dropdown-item
								span.fas.fa-sign-out-alt
								|  Logout
						else
							a( href="/logout").dropdown-item
								span.fas.fa-sign-out-alt
								|  Logout
