.navbar.navbar-inverse.navbar-fixed-top
	.container-fluid
		.navbar-header
			button( type="button", data-toggle="collapse", data-target="#menu", aria-expanded="false" ).navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a( href="/" ).navbar-brand
				span.glyphicon.glyphicon-home
		div.collapse.navbar-collapse#menu
			ul.nav.navbar-nav
				if loggedInUser
					li: a( href="/items" ) Items
					li: a( href="/users" ) Users
			ul.nav.navbar-nav.navbar-right
				if loggedInUser
					li.dropdown
						li.dropdown
							a( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false" ).dropdown-toggle  Admin
								|  
								span.caret
							ul.dropdown-menu
								li: a( href="/groups" ) Groups
								li: a( href="/departments" ) Departments
								li( role="separator" ).divider
								li: a( href="/courses" ) Courses
								li: a( href="/years" ) Years
								li( role="separator" ).divider
								li: a( href="/printers" ) Printers
								li( role="separator" ).divider
								li.dropdown-header
									span.glyphicon.glyphicon-barcode
									|  Audit
								li: a( href="/audit/scanned" ) Scanned
								li: a( href="/audit/missing" ) Missing
					li.dropdown
						a( href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false" ).dropdown-toggle #{ loggedInUser.name }
							|  
							span.caret
						ul.dropdown-menu
							li: a( href='/users/' + loggedInUser.id + '/edit' )
								span.glyphicon.glyphicon-pencil
								|  Edit Profile
							li( role="separator" ).divider
							li: a( href="/logout")
								span.glyphicon.glyphicon-log-out
								|  Logout
