nav#sidebarMenu.col-lg-2.col-md-3.collapse.d-md-block
	.position-sticky.pt-2
		ul.nav.flex-column
			if currentUserCan({or: ['checkout_issue', 'items_return', 'reservations_create', 'checkout_audit', 'users_create', 'checkout_history', 'print']})
				li.nav-item
					a.nav-link(href="/checkout" class=(menu=='kiosk'?'active':''))
						span.me-2.fa.fa-qrcode
						| Kiosk
			if currentUserCan('view_catalogue')
				li.nav-item
					a.nav-link(href="/catalogue" class=(menu=='catalogue'?'active':''))
						span.me-2.fa.fa-book
						| Catalogue
		
		if currentUserCan({or: ['items_read', 'items_create', 'groups_read', 'locations_read', 'departments_read']})
			h6.sidebar-heading.d-flex.justify-content-between.align-items-center.mt-3.mb-1.text-muted Items
			ul.nav.flex-column
				if currentUserCan('items_create')
					li.nav-item
						a.nav-link(href="/items/create" class=(menu=='create items'?'active':''))
							span.me-2.fa.fa-plus
							| Create item
				if currentUserCan('items_read')
					li.nav-item
						a.nav-link(href="/items" class=(menu=='items'?'active':''))
							span.me-2.fa.fa-boxes
							| Items
				if currentUserCan('groups_read')
					li.nav-item
						a.nav-link(href="/groups" class=(menu=='groups'?'active':''))
							span.me-2.fa.fa-object-group
							| Groups
				if currentUserCan('locations_read')
					li.nav-item
						a.nav-link(href="/locations" class=(menu=='locations'?'active':''))
							span.me-2.fa.fa-location-arrow
							| Locations
				if currentUserCan('departments_read')
					li.nav-item
						a.nav-link(href="/departments" class=(menu=='departments'?'active':''))
							span.me-2.fa.fa-building
							| Departments
					
		if currentUserCan({or: ['users_read', 'courses_read', 'years_read', 'roles_read']})
			h6.sidebar-heading.d-flex.justify-content-between.align-items-center.mt-3.mb-1.text-muted Users
			ul.nav.flex-column
				if currentUserCan('users_read')
					li.nav-item
						a.nav-link(href="/users" class=(menu=='users'?'active':''))
							span.me-2.fa.fa-users
							| Users
				if currentUserCan('courses_read')
					li.nav-item
						a.nav-link(href="/courses" class=(menu=='courses'?'active':''))
							span.me-2.fa.fa-user-graduate
							| Courses
				if currentUserCan('years_read')
					li.nav-item
						a.nav-link(href="/years" class=(menu=='years'?'active':''))
							span.me-2.fa.fa-user-clock
							| Years
				if currentUserCan('roles_read')
					li.nav-item
						a.nav-link(href="/roles" class=(menu=='roles'?'active':''))
							span.me-2.fa.fa-user-tag
							| Roles
		
		if currentUserCan('reservations_read')
			h6.sidebar-heading.d-flex.justify-content-between.align-items-center.mt-3.mb-1.text-muted Reservations
			ul.nav.flex-column
				li.nav-item
					a.nav-link(href="/reservations" class=(menu=='reservations'?'active':'')) View
					
		if currentUserCan({or: ['templates_read', 'email_queue_read']})
			h6.sidebar-heading.d-flex.justify-content-between.align-items-center.mt-3.mb-1.text-muted Email
			ul.nav.flex-column.mb-2
				if currentUserCan('email_queue_read')
					li.nav-item
						a.nav-link(href="/email-queue" class=(menu=='email-queue'?'active':''))
							span.me-2.fa.fa-inbox
							| Send Queue
				if currentUserCan('templates_read')
					li.nav-item
						a.nav-link(href="/templates" class=(menu=='templates'?'active':''))
							span.me-2.fa.fa-mail-bulk
							| Templates
				

		if currentUserCan({or: ['activate_kiosk_mode', 'generate_insurance_report', 'printers_read', 'options_read']})
			h6.sidebar-heading.d-flex.justify-content-between.align-items-center.mt-3.mb-1.text-muted Administration
			ul.nav.flex-column.mb-2
				if currentUserCan('activate_kiosk_mode')
					li.nav-item
						a.nav-link(href="/kiosk/enable" class=(menu=='kiosk mode'?'active':''))
							span.me-2.fa.fa-cash-register
							| Kiosk Mode
				if currentUserCan('generate_insurance_report')
					li.nav-item
						a.nav-link(href="/reports/insurance" class=(menu=='insurance'?'active':''))
							span.me-2.fa.fa-file-alt
							| Insurance Report
				if currentUserCan('printers_read')
					li.nav-item
						a.nav-link(href="/printers" class=(menu=='printers'?'active':''))
							span.me-2.fa.fa-print
							| Printers
				if currentUserCan('options_read')
					li.nav-item
						a.nav-link(href="/options" class=(menu=='options'?'active':''))
							span.me-2.fa.fa-cog
							| Options
