extends ../../../src/views/base.pug

block prepend title
	- title = status
	- heading = title

block contents
	include ../../items/views/partials/filter.pug
	include ../../items/views/partials/items-list.pug
