if departments.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="60%" )
				col( width="20%" )
				col( width="20%" )
			thead
				tr
					th Name
						span.dropup
							span.caret
					th View
					th Manage
			tbody
				for department in departments
					tr
						td=department.name
						td
							a( href="/items/?department=" + department.id ).btn.btn-xs.btn-default
								span.glyphicon.glyphicon-modal-window
								|  Items
						td
							a( href="/departments/" + department.id + '/edit' ).btn.btn-xs.btn-primary
								span.glyphicon.glyphicon-pencil
								|  Edit
							|  
							a( href="/departments/" + department.id + '/remove' ).btn.btn-xs.btn-danger
								span.glyphicon.glyphicon-trash
								|  Delete
else
	+messageBlock( 'warning', 'There are no departments to display.' )
