form( method="post" )
	.form-group.row
		label( for="name" ).col-lg-2.col-form-label Name
		.col-lg-4
			input( name="name", type="text", value=department.name, required )#name.form-control
	.form-group.row
		label( for="brand" ).col-lg-2.col-form-label Label Brand
		.col-lg-4
			textarea( name="brand", rows="3", type="text", required )#brand.form-control=department.brand
	.form-group.row
		.col-lg-4.offset-lg-2
			button( type="submit" ).btn.btn-primary=action
			|  
			a( href="/departments" ).btn.btn-outline-dark Cancel
