if departments.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="60%" )
				col( width="20%", colspan="3" )
			thead
				tr
					th Name
						| 
						span.fas.fa-angle-up.text-muted
					if currentUserCan('items_read')
						th View
					if currentUserCan({or:['departments_edit','departments_remove']})
						th Manage
			tbody
				for department in departments
					tr
						td(data-searchable=department.name)=department.name
						if currentUserCan('items_read')
							td
								+btn( 'sm', 'outline-secondary', 'box', 'Items', '/items/?department=' + department.id )
						if currentUserCan({or:['departments_edit','departments_remove']})
							td
								if currentUserCan('departments_edit')
									+editBtn( '/departments/' + department.id + '/edit' )
								if currentUserCan('departments_remove')
									+removeBtn( '/departments/' + department.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no departments to display.' )
