@import "../../node_modules/bootstrap/scss/bootstrap";

$color-mode-type: data;

html.fs {
	height: 100%;

	body {
		height: 100%;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;
		// background-color: #f5f5f5;

		.form-signin {
			width: 100%;
			max-width: 330px;
			margin: auto;
		
			.form-control {
				position: relative;
				box-sizing: border-box;
				height: auto;
				padding: 10px;
				font-size: 16px;
			}
		
			.form-control:focus {
				z-index: 2;
			}
		
			input[type="username"] {
				margin-bottom: -1px;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
		
			input[type="password"] {
				margin-bottom: 10px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
		
		@include color-mode(dark) {
			html body {
				// background-color: --bs-body-bg;
			}
		}
	}
}