#audit.tab-pane
	.panel.panel-default
		.panel-body
			form
				.row
					.col-md-3
						.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-barcode
							input( type="text", name="barcode", required, autocomplete="off" ).form-control#barcode
					.col-md-2
						.input-group
							select#locationMode.form-control
								option( value="1" ) Just audit
								option( value="2" ) Check location and audit
								option( value="3" ) Update location and audit
								
					.col-md-2
						.input-group
							select#location.form-control
								option( value="" ) Select location
								for location in locations
									option( value=location.id, data-barcode=(location.barcode ? location.barcode : null)) #{ location.name } [#{location.barcode}]
	.flash
