#audit.tab-pane(class=(set_active=='audit'?'active':null))
	.card.mb-3
		.card-body
			form
				.row
					.col-lg-3
						.input-group
							.input-group-text
								span.fas.fa-qrcode
							input(type="text", name="barcode", required, autocomplete="off").form-control#barcode
					.col-lg-2
						.input-group
							select#locationMode.form-control.form-select
								option(value="1") Just audit
								option(value="2") Check location and audit
								option(value="3") Update location and audit
								
					.col-lg-2
						.input-group
							select#location.form-control.form-select
								option(value="") Select location
								for location in locations
									option(value=location.id, data-barcode=(location.barcode ? location.barcode : null)) #{ location.name } [#{location.barcode}]
	.flash
