#issue.tab-pane(class=(set_active=='issue'?'active':null))
	.row
		.col-3
			.find.card.mb-3
				.card-body
					form( role="search" )#find
						.input-group
							.input-group-text
								span.fas.fa-qrcode
							input(type="text").form-control
			#results
				ul.nav.nav-tabs
					li.nav-item.users: a.nav-link.active(href="#users" data-bs-toggle="tab"): span.fas.fa-user
					li.nav-item.items: a.nav-link(href="#items" data-bs-toggle="tab"): span.fas.fa-box
				.tab-content
					#users.tab-pane.active
						ul.list-group.list-group-hover
					#items.tab-pane
						ul.list-group.list-group-hover
		.col-lg-9
			.flash
			#modules
