#return.tab-pane(class=(set_active=='return'?'active':null))
	.row
		.col-lg-3
			.card.mb-3
				.card-body
					form
						.input-group
							.input-group-text
								span.fas.fa-qrcode
							input(type="text").form-control
		.col-lg-9
			.flash
