extends ../../../src/views/base.pug

block prepend title
	- title = 'Insurance Report'
	- breadcrumb.push({name: title})
	- menu = 'insurance'

block contents
	form(method="post")
		+csrf
		
		.form-group.row.mb-3
			label(for="min_value").col-lg-2.col-form-label Minimum value
			.col-lg-4
				.input-group
					.input-group-text &pound;
					input#min_value(name="min_value" type="number" step="0.01" value=100).form-control
		
		.form-group.row.mb-3
			label(for="format").col-lg-2.col-form-label Format
			.col-md-4
				select(name="format")#format.form-control.form-select
					option(value='tsv') TSV
					option(value='csv') CSV
		
		.form-group.row.mb-3
			.col-lg-4.offset-lg-2
				button(type="submit").btn.btn-primary Download
