extends ../../../src/views/base.pug

block append head
	script( type="text/javascript", src="/js/buzz.js" )
	script( type="text/javascript", src="/js/checkout.js" )

block header

block contents
	nav.nav.nav-tabs.flex-column.flex-lg-row#mode
		a.issue.nav-item.nav-link.active( href="#issue" data-toggle="tab" ) Issue
			|  
			span.badge.badge-secondary.d-none.d-lg-inline F1
			
		a.return.nav-item.nav-link( href="#return" data-toggle="tab" ) Return
			|  
			span.badge.badge-secondary.d-none.d-lg-inline F2
			
		a.reservation.nav-item.nav-link( href="#reservation" data-toggle="tab" ) New Reservation
			|  
			span.badge.badge-secondary.d-none.d-lg-inline F3
			
		a.new-user.nav-item.nav-link( href="#new-user" data-toggle="tab" ) New User
			|  
			span.badge.badge-secondary.d-none.d-lg-inline F4
			
		a.print.nav-item.nav-link( href="#label" data-toggle="tab" ) Label
			|  
			span.badge.badge-secondary.d-none.d-lg-inline F5
			
		a.audit.nav-item.nav-link( href="#audit" data-toggle="tab" ) Audit
			|  
			span.badge.badge-secondary.d-none.d-lg-inline F6
			
		a.history.nav-item.nav-link( href="#history" data-toggle="tab" ) History
			|  
			span.badge.badge-secondary.d-none.d-lg-inline F7
			
	.tab-content.break
		include partials/issue.pug
		include partials/return.pug
		include partials/new-reservation.pug
		include partials/new-user.pug
		include partials/audit.pug
		include partials/label.pug
		include partials/history.pug
