extends ../../../src/views/base.pug

block append head
	meta(name="csrf-token" content=csrf)
	script( type="text/javascript", src="/buzz/buzz.min.js" )
	script( type="text/javascript", src="/js/checkout.js" )
	- menu = 'kiosk'

block header

block contents
	nav.nav.nav-tabs.flex-column.flex-lg-row.my-2#mode
		- set_active = null;
		if currentUserCan('checkout_issue')
			if ! set_active
				- set_active = 'issue';
			a.issue.nav-item.nav-link( href="#issue" data-bs-toggle="tab" class=(set_active=='issue'?'active':null) ) Issue
				|  
				span.badge.text-bg-secondary.d-none.d-lg-inline I
				
		if currentUserCan('items_return')
			if ! set_active
				- set_active = 'return';
			a.return.nav-item.nav-link( href="#return" data-bs-toggle="tab" class=(set_active=='return'?'active':null) ) Return
				|  
				span.badge.text-bg-secondary.d-none.d-lg-inline R
			
		if currentUserCan('reservations_create')
			if ! set_active
				- set_active = 'new_reservation';
			a.reservation.nav-item.nav-link( href="#reservation" data-bs-toggle="tab" class=(set_active=='new_reservation'?'active':null) ) New Reservation
				|  
				span.badge.text-bg-secondary.d-none.d-lg-inline E
			
		if currentUserCan('users_create')
			if ! set_active
				- set_active = 'new_user';
			a.new-user.nav-item.nav-link( href="#new-user" data-bs-toggle="tab" class=(set_active=='new_user'?'active':null) ) New User
				|  
				span.badge.text-bg-secondary.d-none.d-lg-inline N
			
		if currentUserCan('print')
			if ! set_active
				- set_active = 'label';
			a.print.nav-item.nav-link( href="#label" data-bs-toggle="tab" class=(set_active=='label'?'active':null) ) Label
				|  
				span.badge.text-bg-secondary.d-none.d-lg-inline L
			
		if currentUserCan('checkout_audit')
			if ! set_active
				- set_active = 'audit';
			a.audit.nav-item.nav-link( href="#audit" data-bs-toggle="tab" class=(set_active=='audit'?'active':null) ) Audit
				|  
				span.badge.text-bg-secondary.d-none.d-lg-inline A
			
		if currentUserCan('checkout_history')
			if ! set_active
				- set_active = 'history';
			a.history.nav-item.nav-link( href="#history" data-bs-toggle="tab" class=(set_active=='history'?'active':null)) History
				|  
				span.badge.text-bg-secondary.d-none.d-lg-inline H
			
	.tab-content.break
		include partials/issue.pug
		include partials/return.pug
		include partials/new-reservation.pug
		include partials/new-user.pug
		include partials/audit.pug
		include partials/label.pug
		include partials/history.pug
