extends ../../../src/views/base.pug

block append head
	script( type="text/javascript", src="/js/buzz.js" )
	script( type="text/javascript", src="/js/checkout.js" )

block header

block contents
	ul.nav.nav-tabs#mode
		li.issue.active: a( href="#issue" data-toggle="tab" ) Issue
			|  
			span.badge F1
		li.return: a( href="#return" data-toggle="tab" ) Return
			|  
			span.badge F2
		li.reservation: a( href="#reservation" data-toggle="tab" ) New Reservation
			|  
			span.badge F3
		li.user: a( href="#user" data-toggle="tab" ) New User
			|  
			span.badge F4
		li.print: a( href="#label" data-toggle="tab" ) Label
			|  
			span.badge F5
		li.audit: a( href="#audit" data-toggle="tab" ) Audit
			|  
			span.badge F6
		li.history: a( href="#history" data-toggle="tab" ) History
			|  
			span.badge F7
	.tab-content.break
		include partials/issue.pug
		include partials/return.pug
		include partials/new-reservation.pug
		include partials/new-user.pug
		include partials/audit.pug
		include partials/label.pug
		include partials/history.pug
