if locations.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="40%" )
				col( width="20%", colspan="3" )
			thead
				tr
					th Name
					th Barcode
						span.dropup
							span.caret
					th View
					th Manage
			tbody
				for location in locations
					tr
						td=location.name
						td: +clipboard( location.barcode )
						td
							+btn( 'sm', 'outline-dark', 'box', 'Items', '/items/?location=' + location.id )
						td
							if location.barcode
								+labelBtn( '/locations/' + location.id + '/label' )
							+space
							+editBtn( '/locations/' + location.id + '/edit' )
							+space
							+removeBtn( '/locations/' + location.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no locations to display.' )
