if locations.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="40%" )
				col( width="20%", colspan="3" )
			thead
				tr
					th Name
						| 
						span.fas.fa-angle-up.text-muted
					th Barcode
					if currentUserCan('items_read')
						th View
					if currentUserCan({or:['locations_edit','locations_remove','print']})
						th Manage
			tbody
				for location in locations
					tr
						td(data-searchable=location.name)=location.name
						td(data-searchable=location.barcode): +clipboard( location.barcode )
						if currentUserCan('items_read')
							td
								+btn( 'sm', 'outline-secondary', 'box', 'Items', '/items/?location=' + location.id )
						if currentUserCan({or:['locations_edit','locations_remove','print']})
							td
								if location.barcode && currentUserCan('print')
									+labelBtn( '/locations/' + location.id + '/label' )
								if currentUserCan('locations_edit')
									+editBtn( '/locations/' + location.id + '/edit' )
								if currentUserCan('locations_remove')
									+removeBtn( '/locations/' + location.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no locations to display.' )
