form( method="post" )
	.form-group.row
		label( for="name" ).col-lg-2.col-form-label Name
		.col-lg-4
			input( name="name" type="text" value=group.name required )#name.form-control
	.form-group.row
		label( for="limiter" ).col-lg-2.col-form-label Limiter
		.col-lg-4
			input( name="limiter" type="number" value=group.limiter )#limiter.form-control
	.form-group.row
		label( for="duration" ).col-lg-2.col-form-label Duration
		.col-lg-4
			input( name="duration" type="text" value=group.duration?group.duration.toISO():null )#duration.form-control
	.form-group.row
		.col-lg-4.offset-lg-2
			button( type="submit" ).btn.btn-primary=action
			|  
			a( href="/groups" ).btn.btn-outline-dark Cancel
