form(method="post")
	+csrf
	
	.form-group.row.mb-3
		label(for="name").col-lg-2.col-form-label Name
		.col-lg-4
			input#name(name="name" type="text" value=group.name required).form-control
	
	.form-group.row.mb-3
		label(for="limiter").col-lg-2.col-form-label Limiter
		.col-lg-4
			input#limiter(name="limiter" type="number" value=group.limiter).form-control
	
	.form-group.row.mb-3
		label(for="duration").col-lg-2.col-form-label Duration
		.col-lg-4
			input#duration(name="duration" type="text" value=group.duration?group.duration.toISO():null).form-control
	
	.form-group.row.mb-3
		.col-lg-4.offset-lg-2
			button(type="submit").btn.btn-primary=action
			|  
			a(href="/groups").btn.btn-outline-secondary Cancel
