if groups.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
			thead
				tr
					th Name
						| 
						span.fas.fa-angle-up.text-muted
					th Limiter
					th Duration
					if currentUserCan('items_read')
						th View
					if currentUserCan({or:['groups_edit','groups_remove']})
						th Manage
			tbody
				for group in groups
					tr
						td(data-searchable=group.name)=group.name
						td=(group.limiter?group.limiter:'–')
						td=(group.duration?group.duration.toPostgres():'–')
						if currentUserCan('items_read')
							td
								a( href="/items/?group=" + group.id ).btn.btn-sm.btn-outline-secondary
									span.fas.fa-box
									|  Items
						if currentUserCan({or:['groups_edit','groups_remove']})
							td
								if currentUserCan('groups_edit')
									+editBtn( '/groups/' + group.id + '/edit' )
								if currentUserCan('groups_remove')
									+removeBtn( '/groups/' + group.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no groups to display.' )
