if groups.length > 0
	.table-responsive
		table.table.table-striped.table-hover.table-condensed
			tgroup
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
				col( width="20%" )
			thead
				tr
					th Name
						span.dropup
							span.caret
					th Limiter
					th Duration
					th View
					th Manage
			tbody
				for group in groups
					tr
						td=group.name
						td=(group.limiter?group.limiter:'–')
						td=(group.duration?group.duration.toPostgres():'–')
						td
							a( href="/items/?group=" + group.id ).btn.btn-sm.btn-outline-dark
								span.fas.fa-box
								|  Items
						td
							+editBtn( '/groups/' + group.id + '/edit' )
							+space
							+removeBtn( '/groups/' + group.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no groups to display.' )
