extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Group'
	- breadcrumb.push({name: group.name})
	- breadcrumb.push({name: 'Edit'})
	- menu = 'groups'

block contents
	- action = 'Update'
	include partials/form.pug
