extends ../../../src/views/base.pug

block prepend title
	- title = group.name
	- heading = title

block contents
	if group.limiter
		dl.dl-horizontal
			dt Item limit
			dd=group.limiter
	p
		.btn-group( role="group" )
			a( href="/groups/" + group._id + "/edit" ).btn.btn-default
				span.glyphicon.glyphicon-pencil
				|  Edit
	hr
	h3 Items
	if items.length > 0
		.table-responsive
			table.table.table-striped
				thead
					tr
						th Status
						th Barcode
						th Name
						th Department
				tbody
					for item in items
						tr
							- status = item.status
							td: include ../../items/views/partials/status.pug
							td: span( data-clipboard-text=item.barcode ).clipboard=item.barcode
							td: a( href="/items/" + item._id )=item.name
							- department = item.department
							td: include ../../departments/views/partials/department.pug
	else
		+messageBlock( 'warning', 'There are no items to display.' )
