extends ../../../src/views/base.pug

block prepend title
	- title = "Groups"
	- heading = title
	- menu = "groups"

block buttons
	if currentUserCan('groups_create')
		a( href="/groups/create" ).btn.btn-outline-success.btn-sm.float-right
			span.fas.fa-plus
			|  Create
	+search

block contents
	include partials/list.pug
