extends ../../../src/views/base.pug

block prepend title
	- title = "Groups"
	- menu = 'groups'

block buttons
	if currentUserCan('groups_create')
		+btn('sm', 'outline-success', 'plus', 'Create Group', '/groups/create')
	+search

block contents
	include partials/list.pug
