if history.length > 0
	table.table.table-striped
		thead
			tr
				th Action
				th When
				th To/By
				th Operator
		tbody
			for row in history
				tr
					td: +status( row.action )
					td: +relative( row.datetime )
					td: +user( row.owner_name, row.owner_id )
					td: +user( row.operator_name, row.operator_id )
					
else
	+messageBlock( 'warning', 'black','This item has no history.' )
