.card.mb-3
	ul.list-group.list-group-flush
		+statusListItem( item.loanable ? item.status : 'unavailable' )
		if item.owner_id
			li.list-group-item Owner: 
				+user( item.owner_name, item.owner_id )
		if item.status == 'on-loan'
			li.list-group-item Issued: 
				+date( item.issued )
			li.list-group-item Due: 
				+relative( item.due, true )

.card.mb-3
	.card-header
		span.fas.fa-qrcode
		|  Barcode
	.card-body
		+clipboard( item.barcode )

if item.audited
	.card.mb-3
		.card-header
			span.fas.fa-user
			|  Last Audited
		.card-body
			+relative( item.audited )

if item.value
	.card.mb-3
		.card-header
			span.fas.fa-money-bill
			|  Value
		.card-body
			| £#{item.value}

if item.serialnumber
	.card.mb-3
		.card-header
			span.fas.fa-money-bill
			|  Serial Number
		.card-body
			+clipboard(item.serialnumber)

if item.info_url
	.card.mb-3
		.card-header
			span.fas.fa-globe
			|  Information URL
		.card-body
			a(href=item.info_url target="_blank") Open Link

if item.notes
	.card.mb-3
		.card-header
			span.fas.fa-money-bill
			|  Notes
		.card-body: item.notes

.card.mb-3
	.card-header
		span.fas.fa-location-arrow
		|  Location
	.card-body
		+location(item.location_name, item.location_id)

if item.group_id
	.card.mb-3
		.card-header
			span.fas.fa-object-group
			|  Group
		.card-body
			+group(item.group_name, item.group_id)
if item.department_id
	.card.mb-3
		.card-header
			span.fas.fa-building
			|  Department
		.card-body
			+department(item.department_name, item.department_id)
