if item.alert_msg
	.alert( class='alert-info' )
		strong Alert:
		|  #{item.alert_msg}
.row
	.col-4
		.row
			.col-5.font-weight-bold.text-right Status
			.col-7: +status( item.loanable ? item.status : 'unavailable' )
			if item.owner_id
				.col-5.font-weight-bold.text-right Owner
				.col-7: +user( item.owner_name, item.owner_id )
			if item.status == 'on-loan'
				.col-5.font-weight-bold.text-right Issued
				.col-7: +fulldate( item.issued )
				.col-5.font-weight-bold.text-right Due
				.col-7: +relative( item.due, true )
			if item.audited
				.col-5.font-weight-bold.text-right Last audited
				.col-7: +relative( item.audited )
	.col-4
		.row
			.col-5.font-weight-bold.text-right Barcode
			.col-7: +clipboard(item.barcode)
			if item.value
				.col-5.font-weight-bold.text-right Value
				.col-7 £#{item.value}
			if item.serialnumber
				.col-5.font-weight-bold.text-right Serial number
				.col-7: +clipboard(item.serialnumber)
			if item.info_url
				.col-5.font-weight-bold.text-right Information URL
				.col-7: a(href=item.info_url target="_blank") Open Link
			if item.notes
				.col-5.font-weight-bold.text-right Notes
				.col-7=item.notes
	.col-4
		.row
			.col-5.font-weight-bold.text-right Location
			.col-7: +location(item.location_name, item.location_id)
			if item.group_id
				.col-5.font-weight-bold.text-right Group
				.col-7: +group(item.group_name, item.group_id)
			if item.department_id
				.col-5.font-weight-bold.text-right Department
				.col-7: +department(item.department_name, item.department_id)
