- status = item.status
h4: include status.pug
dl.dl-horizontal
	dt Barcode
	dd: +clipboard( item.barcode )
	dt Location
	dd: +location( item.location_name, item.location_id )
	dt Group
	dd: +group( item.group_name, item.group_id )
	if item.value
		dt Value
		dd £#{ item.value }
	if item.notes
		dt Notes
		dd #{ item.notes }
