form( method="post" ).form-horizontal
	.form-group
		label( for="name" ).col-md-2.control-label Name
		.col-md-4
			input( name="name" type="text" value=( item ? item.name : '' ) required )#name.form-control
	.form-group
		label( for="barcode" ).col-md-2.control-label Barcode
		.col-md-4
			input( name="barcode" type="text" value=( item ? item.barcode : '' ) autocomplete="off" required )#barcode.form-control
	.form-group
		label( for="label" ).col-md-2.control-label Label
		.col-md-4
			select( name="label" required )#label.form-control
				option( value="12mm" selected=( '12mm' == ( item ? item.label : '' ) ) ) 12mm Tape
	.form-group
		label( for="location" ).col-md-2.control-label Location
		.col-md-4
			select( name="location" required )#location.form-control
				option( value="" disabled selected ) Select a location
				for location in locations
					option( value=location.id selected=( location.id == ( item ? item.location_id : '' ) ) )=location.name
	.form-group
		label( for="group" ).col-md-2.control-label Group
		.col-md-4
			select( name="group" )#group.form-control
				option( value="" selected ) Select a group
				for group in groups
					option( value=group.id selected=( group.id == ( item ? item.group_id : '' ) ) )=group.name
	.form-group
		label( for="department" ).col-md-2.control-label Department
		.col-md-4
			select( name="department" )#department.form-control
				option( value="" selected ) Select a department
				for department in departments
					option( value=department.id selected=( department.id == ( item ? item.department_id : '' ) ) )=department.name
	.form-group
		label( for="value" ).col-md-2.control-label Value
		.col-md-4
			.input-group
				span.input-group-addon &pound;
				input( name="value" type="number" step="0.01" value=( item ? item.value : '' ) )#value.form-control
	.form-group
		label( for="serialnumber" ).col-md-2.control-label Serial number
		.col-md-4
			input( name="serialnumber" type="text" value=( item ? item.serialnumber : '' ) )#serialnumber.form-control
	.form-group
		label( for="notes" ).col-md-2.control-label Notes
		.col-md-4
			textarea( name="notes" type="text" )#notes.form-control #{ item ? item.notes : '' }
	.form-group
		.col-md-offset-2.col-md-4
			.checkbox
				label( for="print" )
					if action == 'Create'
						input( name="print" type="checkbox" checked )#print
						|  Print Barcode Labels
					if action == 'Update'
						input( name="print" type="checkbox" )#print
						|  Reprint Barcode Labels
	.form-group
		.col-md-4.col-md-offset-2
			button( type="submit" ).btn.btn-primary=action
