if status == 'available'
	span.label.label-success Available
else if status == 'returned'
	span.label.label-success Returned
else if status == 'loaned'
	span.label.label-danger Loaned
else if status == 'on-loan'
	span.label.label-danger On Loan
else if status == 'reserved'
	span.label.label-info Reserved
else if status == 'broken'
	span.label.label-warning Broken
else if status == 'lost'
	span.label.label-warning Lost
else if status == 'new'
	span.label.label-primary New
else if status == 'audited'
	span.label.label-default Audited
else
	#{ status }
