if items.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					th Status
					th Barcode
					th Name
					th Owner
					th Department
					th Group
			tbody
				for item in items
					tr
						- status = item.status
						td: include ../../../items/views/partials/status.pug
						td: span( data-clipboard-text=item.barcode ).clipboard=item.barcode
						td: a( href="/items/" + item._id )=item.name
						td
							if item.owner
								a( href="/users/" + item.owner._id )=item.owner.name
							else
								| &mdash;
						- department = item.department
						td: include ../../../departments/views/partials/department.pug
						- group = item.group
						td: include ../../../groups/views/partials/group.pug
else
	+messageBlock( 'warning', 'There are no items to display.' )
