extends ../../../src/views/base.pug

block prepend title
	- title = "Edit Multiple Users"
	- heading = title

block contents
	form( action="/users/edit" method="post" )
		.form-group.row
			label( for="status" ).col-lg-2.col-form-label Status
			.col-lg-4
				.input-group
					select( name="status" )#status.form-control
						option( value="" disabled selected ) &mdash;
						option( value="active" ) Active
						option( value="disabled" ) Disabled
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="status" )
		.form-group.row
			label( for="course" ).col-lg-2.col-form-label Course
			.col-lg-4
				.input-group
					select( name="course" )#course.form-control
						option( value="" disabled selected ) Select a course
						for course in courses
							option( value=course.id )=course.name
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="course" )
		.form-group.row
			label( for="year" ).col-lg-2.col-form-label Year
			.col-lg-4
				.input-group
					select( name="year" )#course.form-control
						option( value="" disabled selected ) Select a year
						for year in years
							option( value=year.id )=year.name
					.input-group-append
						.input-group-text
							input( type="checkbox" name="fields[]" value="year" )
		.form-group.row
			.col-lg-4.offset-lg-2
				button( type="submit" ).btn.btn-primary Update
		h3 Items
		- edit = true
		- multi = true
		include partials/list.pug
