extends ../../../src/views/base.pug

block prepend title
	- title = "Edit Multiple Users"
	- heading = title

block contents
	form( action="/users/edit" method="post" ).form-horizontal
		.form-group
			label( for="status" ).col-md-2.control-label Status
			.col-md-4
				.input-group
					select( name="status" )#status.form-control
						option( value="" disabled selected ) &mdash;
						option( value="active" ) Active
						option( value="disabled" ) Disabled
					span.input-group-addon
						input( type="checkbox" name="fields[]" value="status" )
		.form-group
			label( for="course" ).col-md-2.control-label Course
			.col-md-4
				.input-group
					select( name="course" )#course.form-control
						option( value="" disabled selected ) Select a course
						for course in courses
							option( value=course.id )=course.name
					span.input-group-addon
						input( type="checkbox" name="fields[]" value="course" )
		.form-group
			label( for="year" ).col-md-2.control-label Year
			.col-md-4
				.input-group
					select( name="year" )#course.form-control
						option( value="" disabled selected ) Select a year
						for year in years
							option( value=year.id )=year.name
					span.input-group-addon
						input( type="checkbox" name="fields[]" value="year" )
		.form-group
			.col-md-4.col-md-offset-2
				button( type="submit" ).btn.btn-default Update
		h3 Items
		- edit = true
		- multi = true
		include partials/user-list.pug
