extends ../../../src/views/base.pug

block prepend title
	- title = 'Import Users'
	- breadcrumb.push({name: 'Import'})
	- menu = 'users'

block contents
	p Data must include a header row.
	form(method="post" action="/users/process")
		+csrf

		.form-group.mb-3
			label(for="format").col-form-label Format
			.col-md-3.col-lg-2
				select#format(name="format").form-control.form-select
					option(value='tsv') TSV
					option(value='csv') CSV
		
		.form-group.mb-3
			label( for="data" ).col-form-label Data
			textarea#data(name="data" type="text" rows="20" required).form-control
		
		.form-group.mb-3
			input(type="submit" value="Next").btn.btn-primary
