extends ../../../src/views/base.pug

block prepend title
	- title = "Users"
	- heading = title
	- menu = "users"

block buttons
	if currentUserCan('users_import')
		a( href="/users/import" ).btn.btn-outline-success.btn-sm.float-right.ml-2
			span.fas.fa-file-csv
			|  Import Users

block contents
	- filter_path = '/users/'
	include partials/filter.pug
	form( action="/users/edit" method="post" )
		+csrf
		- edit = true
		include partials/list.pug
		if currentUserCan('users_multi_edit')
			button( type="submit" ).btn.btn-sm.btn-primary
				span.fas.fa-pencil-alt
				|  Edit Selected
