extends ../../../src/views/base.pug

block prepend title
	- title = 'Users'
	- menu = 'users'
	- filter_path = '/users/'
	
block append js
	script(src="/js/multiaction.js")

block buttons
	if currentUserCan('users_import')
		a( href="/users/import" ).btn.btn-outline-success.btn-sm.float-right.me-2
			span.fas.fa-file-csv
			|  Import Users
	.dropdown.me-2
		button(type="button" data-toggle="dropdown").btn.btn-outline-secondary.btn-sm.dropdown-toggle
			span.fas.fa-bolt
			|  Reports
		.dropdown-menu.dropdown-menu-right
			h6.dropdown-header User Status
			a( href="/users/?status=active" ).dropdown-item Active
			a( href="/users/?status=disabled" ).dropdown-item Disabled
	.btn-group.me-2
		button(type="submit" form="filter").btn.btn-outline-secondary.btn-sm
			span.fas.fa-filter
			|  Filter
		button(type="button" data-toggle="dropdown").btn.btn-outline-secondary.btn-sm.dropdown-toggle
		.dropdown-menu.dropdown-menu-right
			h6.dropdown-header User Categorisation
			a(data-toggle="collapse" href="#roleFilter").dropdown-item Role
			a(data-toggle="collapse" href="#courseFilter").dropdown-item Course
			a(data-toggle="collapse" href="#yearFilter").dropdown-item Year
			.dropdown-divider
			h6.dropdown-header User Meta Data
			a(data-toggle="collapse" href="#statusFilter").dropdown-item Status
			
	if Object.values(selected).join('') != ''
		a(href=filter_path + "?clear=").btn.btn-outline-secondary.btn-sm.me-2
			span.fas.fa-times
			|  Clear
	+search

block contents
	include partials/filter.pug
	form#multi-form
		+csrf
		- edit = true
		include partials/list.pug
			if currentUserCan('users_multi_edit')
				button(disabled type="submit" data-action="/users/edit").multi.btn.btn-sm.btn-primary
					span.fas.fa-pencil-alt
					|  Edit
				|  
			if currentUserCan('users_multi_remove')
				button(disabled type="button" data-action="/users/remove").multi.btn.btn-sm.btn-danger
					span.far.fa-trash-alt
					|  Remove
				|  
			if currentUserCan('users_email')
				button(disabled type="button" data-action="/users/email").multi.btn.btn-sm.btn-outline-secondary
					span.fas.fa-envelope
					|  Email Selected Users

