extends ../../../src/views/base.pug

block prepend title
	- title = user.name
	- heading = title

block prepend header 
	meta( http-equiv='refresh' content=`0;url=mailto:${encodeURI(user.email)}?subject=${encodeURI('IMPORTANT: Items onloan due for return')}&body=${encodeURI(email)}` )
	script setTimeout(() => { history.go(-1);}, 100);
	
block contents
	+messageBlock( 'dark', 'white', 'Generating email' )
