extends ../../../src/views/base.pug

block prepend title
	- title = user.name
	- menu = 'users'
	- breadcrumb.push({name: user.name})

block buttons
	if currentUserCan('users_email') && onloan.length > 0
		.btn-group.float-right(style='margin-left:.25em;')
			a(href="/users/" + user.id + "/email", title=`Email ${user.name}`).btn.btn-outline-secondary.btn-sm
				span.fas.fa-envelope
				|  Generate email
		|  &nbsp;
	.btn-group.float-right
		if currentUserCan('users_edit')
			a(href="/users/" + user.id + "/edit", title=`Edit ${user.name}`).btn.btn-outline-primary.btn-sm
				span.fas.fa-pencil-alt
				|  Edit
		if currentUserCan('users_remove')
			a(href="/users/" + user.id + "/remove", title=`Remove ${user.name}`).btn.btn-outline-danger.btn-sm
				span.far.fa-trash-alt
				|  Remove

block contents
	.row
		.col-lg-3.col-md-4.mb-3
			include partials/info.pug
		.col-lg-9.col-md-8
			if onloan.length > 0
				.card.mb-3
					.card-header
							span.fas.fa-person-walking-dashed-line-arrow-right
							|  On Loan
					include partials/onloan.pug
			else
				.card.mb-3.bg-info.text-black
					.card-body
						span.fas.fa-circle-info
						|  No items on loan.
			if currentUserCan('users_history')
				if history.length > 0
					.card.mb-3
						.card-header
							span.fas.fa-clock-rotate-left
							|  History
						include partials/history.pug
				else
					.card.mb-3.bg-info.text-black
						.card-body
							span.fas.fa-circle-info
							|  No items have previously been loaned to this user.