extends ../../../src/views/base.pug

block prepend title
	- title = "Users"
	- heading = title

block contents
	- filter_path = '/users/'
	include partials/filter.pug
	hr
	form( action="/users/edit" method="post" )
		- edit = true
		include partials/user-list.pug
		button( type="submit" ).btn.btn-default Edit Selected
