extends ../../../src/views/base.pug

block prepend title
	- title = 'Remove reservation'
	- heading = "Are you sure you want to remove this reservation?"
	- menu = "reservations"

block contents
	form( method="post" )
		.form-group.row
			.col-lg-4
				button( type='submit' ).btn.btn-danger Yes, remove reservation
				|  
				a( href="/reservations" ).btn.btn-outline-dark Cancel
