form(method="post")
	+csrf
	
	.form-group.row.mb-3
		label(for="name").col-lg-2.col-form-label Name
		.col-lg-4
			input#name(name="name" type="text" value=printer.name required autocomplete="off").form-control
	
	.form-group.row.mb-3
		label(for="label").col-lg-2.col-form-label Label
		.col-lg-4
			input#label(name="label" type="text" value=printer.label maxlength="10" required autocomplete="off").form-control
	
	.form-group.row.mb-3
		label(for="url").col-lg-2.col-form-label URL
		.col-lg-4
			input#url(name="url" type="text" value=printer.url required autocomplete="off").form-control
	
	.form-group.row.mb-3
		.col-lg-4.offset-lg-2
			input(type="submit" value=action).btn.btn-primary
			|  
			a(href="/printers").btn.btn-outline-secondary Cancel
