if printers.length > 0
	.table-responsive
		table.table.table-striped
			tgroup
				col( width="20%" )
				col( width="40%" )
				col( width="20%" )
				col( width="20%" )
			thead
				tr
					th Name
						span.dropup
							span.caret
					th URL
					th View
					th Manage
			tbody
				for printer in printers
					tr
						td=printer.name
						td=printer.url
						td
							a( href=printer.url ).btn.btn-xs.btn-default
								span.glyphicon.glyphicon-print
								|  View
						td
							+editBtn( '/printers/' + printer.id + '/edit' )
							+space
							+deleteBtn( '/printers/' + printer.id + '/remove' )
else
	+messageBlock( 'warning', 'There are no printers to display.' )
