if printers.length > 0
	.table-responsive
		table.table.table-striped
			tgroup
				col( width="20%" )
				col( width="40%" )
				col( width="20%" )
				col( width="20%" )
			thead
				tr
					th Name
						span.dropup
							span.caret
					th URL
					th View
					th Manage
			tbody
				for printer in printers
					tr
						td=printer.name
						td=printer.url
						td
							a( href=printer.url, target='_blank' ).btn.btn-sm.btn-outline-dark
								span.fas.fa-globe
								|  View
						td
							+editBtn( '/printers/' + printer.id + '/edit' )
							+space
							+removeBtn( '/printers/' + printer.id + '/remove' )
else
	+messageBlock( 'warning', 'black','There are no printers to display.' )
